{
    "extends": ["liaoyf/react-typescript"],
    "rules": {
        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": ["config/**/*", "stories/**/*"]
        }]
    }
}
